<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let diary of diaries;let i = index'>
        <div *ngFor='let diary of diaries; index as i'>
          <h4 appStrikethrough>{{i+1}}. {{diary.title}} on {{diary.date | date:'shortDate'}}</h4>
          <button (click)='showDetails(i)' class="btn btn-primary">Show Details</button>
        </div>

        <div *ngIf='diary.showDescription'>
          <app-diary-detail *ngIf='diary.showDescription' [diary]='diary' (isComplete) = 'deleteDiary($event,i)'></app-diary-detail> 
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <app-diary-form (addDiary)="addNewDiary($event)"></app-diary-form><br> -->
    </div>
  </div>  
</div>